@media (max-width: 960px) {
	.container {
		padding: 0 15px;
	}

	.d-flex {
		align-items: center;
		flex-direction: column;
	}

	.button--download {
		margin-bottom: 20px;
	}

	//Mobile Menu
	.mainMenu {

	}

	//-- Section Resume
	.section--resume {
		.resume {
			&--featuredList {
				.listItem {
					border: 0;
					margin-bottom: 20px;

					img {
						align-self: center;
						margin: 0;
					}
				}
			}
			&__text, &__title {
				margin-bottom: 25px;
			}
			&__title {
				text-align: center;
			}
		} 
	}

	//-- Section Snippets
	.section--snippets .snippets__left {
		margin: 0;
	}

	//-- Section Features
	.section--features .features {
		&__left, &__right {
			text-align: center;
		}
	}

	//-- Section Integration
	.section--integration img {
		margin-bottom: 40px;
		width: 20%;
	}

	//-- Section Customers
	.section--customers .glide__arrows {
		left: -20px;
	}
}