// -- Section Features
.section--features {
    padding: 215px 0 80px;
    margin-bottom: 215px;

    p {
        font-size: 25px;
    }

    .features {
        &__left,
        &__right {
            flex: 1;
            margin-top: 100px;
        }

        &__left {
            text-align: right;
        }

        &__right {
            text-align: left;
        }

        &__item {
            margin-bottom: 25px;
        }
    }

    .infoBar {
        flex: 1.2;
        margin: 0 50px;

        p {
            font-size: 16px;
            padding: 20px;
        }

        span {
            font-size: 40px;
        }

        .icon-arrow {
            height: 30px;
            width: 36px;
        }

        .productInfos {
            padding: 30px;

            .numberInfo {
                margin-right: 50px;

                &_title {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                &_value {
                    font-size: 34px;
                }
            }
            
        }
    }
}
